{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Slots</title>
    <link rel="stylesheet" href="{% static 'views.css' %}">
</head>
<body>
    <header>
        <h1>Parking Space</h1>
    </header>
    <div class="button-container">
        <button id="button1">Slot 1</button>
<button id="button2">Slot 2</button>
<button id="button3">Slot 3</button>
<br>
<br>
<br>
<button id="button4">Slot 4</button>
<button id="button5">Slot 5</button>
<button id="button6">Slot 6</button>

    </div>
    


</body>
<script>
    const button1 = document.getElementById("button1");
    const button2 = document.getElementById("button2");
    const button3 = document.getElementById("button3");
    const button4 = document.getElementById("button4");
    const button5 = document.getElementById("button5");
    const button6 = document.getElementById("button6");

    let clickedOnce1 = false;
    let clickedOnce2 = false;
    
    button1.addEventListener("click", function() {
      if (clickedOnce1) {
        button1.innerHTML = "Slot 1";
        button1.classList.remove("clicked");
        button1.classList.remove("red");
        clickedOnce1 = false;
      } else {
        button1.innerHTML = "Occupied!";
        button1.classList.add("clicked");
        button1.classList.add("red");
        clickedOnce1 = true;
      }
    });
    
    button2.addEventListener("click", function() {
      if (clickedOnce2) {
        button2.innerHTML = "Slot 2";
        button2.classList.remove("clicked");
        button2.classList.remove("red");
        clickedOnce2 = false;
      } else {
        button2.innerHTML = "Occupied!";
        button2.classList.add("clicked");
        button2.classList.add("red");
        clickedOnce2 = true;
      }
    });

    button3.addEventListener("click", function() {
        if (clickedOnce2) {
          button3.innerHTML = "Slot 3";
          button3.classList.remove("clicked");
          button3.classList.remove("red");
          clickedOnce2 = false;
        } else {
          button3.innerHTML = "Occupied!";
          button3.classList.add("clicked");
          button3.classList.add("red");
          clickedOnce2 = true;
        }
      });
    
      button4.addEventListener("click", function() {
        if (clickedOnce2) {
          button4.innerHTML = "Slot 4";
          button4.classList.remove("clicked");
          button4.classList.remove("red");
          clickedOnce2 = false;
        } else {
          button4.innerHTML = "Occupied!";
          button4.classList.add("clicked");
          button4.classList.add("red");
          clickedOnce2 = true;
        }
      });

      button5.addEventListener("click", function() {
        if (clickedOnce2) {
          button5.innerHTML = "Slot 5";
          button5.classList.remove("clicked");
          button5.classList.remove("red");
          clickedOnce2 = false;
        } else {
          button5.innerHTML = "Occupied!";
          button5.classList.add("clicked");
          button5.classList.add("red");
          clickedOnce2 = true;
        }
      });

      button6.addEventListener("click", function() {
        if (clickedOnce2) {
          button6.innerHTML = "Slot 6";
          button6.classList.remove("clicked");
          button6.classList.remove("red");
          clickedOnce2 = false;
        } else {
          button6.innerHTML = "Occupied!";
          button6.classList.add("clicked");
          button6.classList.add("red");
          clickedOnce2 = true;
        }
      });
    
</script>
</html>